*{
    margin: 0px;
    border: border-box;
    font-family: Arial;
}

/*navbar*/
.navbar{
    background-color: #3ef0e49e;
    height: 60px;
    color: hsl(128, 95%, 8%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}

/*box1*/ 
.navlogo{
    height: 60px;
    width: 150px;
    padding-bottom: 10px;
}
.logo{
    background-image: url(https://cdn.pixabay.com/photo/2021/08/10/16/02/amazon-6536326_1280.png);
    background-size: cover;
    height: 60px; 
   
}
.logo:hover{
    scale: 1.08;
    cursor: pointer;
    
}
.border{
    border: 2.8px solid transparent;
    border-radius: 4px; 
    
   
}
.border:hover{
    border: 2.8px solid #29029d;
    
}

/*box2*/
.first{
    color: rgb(0, 166, 255);
    font-size: 0.85rem;
    margin-left: 12px;
}
.second{
    color: rgb(5, 62, 136);
    font-size: 1rem;
    margin-left: 2px;
    font-weight: 400;
    
}

.navicon{
    display: flex;
    align-items: center;
    margin-top: 2px;
}
.navadd{
    margin-left: 10px;
   
}

/*box3*/

.navsearch{
    height: 38px;
    border-radius: 4px;
    margin-left: 10px;
    display: flex;
    justify-content: space-evenly; 
    
}
.navinput{
    height: 36px;
    width: 466px;
    font-size: 15px;
    border: none;
  
}
.navselect{
    height: 38px;
    width: 45px;
    padding-left: 5px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border: none;
    background-color: #d4ebe99e;
}
.searchicon{
    height: 38px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #17aba16e;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background-color: rgb(182, 229, 255);
    cursor: pointer;
    transition: all 0.8s ease-in-out ;
}

.searchicon:hover .fa-solid {
    scale: 1.2;
}

/*box4*/
span{
    font-size: 0.73rem;
    font-weight: 400;
    color: rgb(0, 166, 255);
}
.account{
    font-size: 0.85rem;
    font-weight: 400;
    color: rgb(5, 62, 136);
}

/*box6*/

.navcart{
    display: flex;
    font-size:30px;
    color: #1777abb6;
}
.navcart:hover .fa-solid {
    scale: 1.2;
    cursor: pointer;
}
.cart{
    font-size: 0.85rem;
    align-self: self-end;
    color: rgb(0, 166, 255) ;
    font-weight: 400;
}

/*navbar2*/

.navbar2{
    height: 35px;
    background-color: #b0fffacd;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #2a1076;
}


.navop{
    display: flex;
    color: #2a1076;
    width: 80%;
    font-size: 0.85rem;
    font-weight: 400;
    margin-left: 10px;
}
.navop p{
    margin-left: 10px;
    border: 2.8px solid transparent;
    border-radius: 4px;
    color: #2a1076; 
}
.navop p:hover{
    border: 2.8px solid #29029d;
}

.navdeals{
    font-size: 0.9rem;
    color: #2a1076;
}

/*herosection*/
.herosection{
    background-image:url(https://images-eu.ssl-images-amazon.com/images/G/31/img22/GW/desktop/Non_Pea_Unrec_Phase_1_Tallhero_3000x1200._CB577613664_.jpg) ;
    height: 380px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
   
}
.heromsg{
    background-color: #2d3232aa;
    color: white;
    margin-bottom: 30px;
    height: 40px;
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    font-weight: 400;
}
.heromsg a{
    color: rgb(242, 213, 140);
}

/*herosection2*/
.herosection2{
    background-color: rgb(78, 192, 184);
    height: 1500px;
}

/*shopsection*/
.shopsection{
    display: flex;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-evenly;
}
.box{
    height: 400px;
    border: 2px solid transparent ;
    width: 385px;
    margin-top: 20px;
    
}

/*box1 content*/


.box1content{
    background-color: #dbf5fae0;
    height: 400px;

}
.tables{
    border: 2px solid transparent;
    justify-content: space-evenly;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-evenly;
    margin-top: 20px;
}
.table{
    border: 2px solid transparent;
    height: 110px;
    width: 155px;
    padding-top:50px;   
}
.table:hover{
    scale: 1.05;
    cursor: pointer;
}
.start1{
    font-size: 1.34rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}
.end1{
    font-size: 0.9rem;
    padding-left: 15px;
    padding-top: 15px;
    
}
.table1{
    background-image:url(https://cdn.dribbble.com/users/3480894/screenshots/17745481/boat-01.png);
    background-size: contain;
    background-repeat:no-repeat ;
}

.table2{
    background-image: url(https://cdn.siasat.com/wp-content/uploads/2022/07/Boult-Audio.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    
    
    

}
.table3{background-image: url(https://logowik.com/content/uploads/images/noise2238.jpg);
    background-size: contain;
    background-repeat: no-repeat;

}
.table4{
    background-image: url(https://www.itvoice.in/wp-content/uploads/2017/05/Zebronics-logo.png);
    background-size: contain;
    background-repeat: no-repeat;    
}
.inn{
    display: flex;
    margin-top: 70px;
    font-size: 12px;
}

/*box2 content*/

.box2content{
    background-color: #dbf5fae0;
    height: 400px;
    
}
.tables2{
    padding-top: 20px;
    margin-bottom: 45px;
    
}

.start2{
    padding-top: 20px;
    font-size: 1.34rem;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.end2{
    font-size: 0.9rem;
    padding-left: 15px;
    margin-top: 55px;

}


.frame1{
        border: 2px solid transparent;
        background-image:url(https://m.media-amazon.com/images/I/71UdyGge93L._AC_UF1000,1000_QL80_.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 255px;
        width: 290px;
        margin-left: 50px;
        margin-bottom: 20px;
        
}
.frame1:hover{
    cursor: pointer;
    scale: 1.05;
}

.inn2{ 
        background-color: white; 
        border: 2px solid transparent;
        height: 25px;
        width: 287px;
        margin-top: 255px;
        font-size: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
}
.part{
    font-size: 12px;
}   

.diff{
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
    font-weight: 630;
}

.part1{
    border: 2px solid transparent;
    background-color: rgb(226, 192, 141);
    color: rgb(0, 0, 0);
}
.part2{
    color: rgb(136, 109, 69);
}
.part3{
    margin-top: 3px;
    font-size: 13px;
}
/*box3 content*/

.box3content{
    background-color: #dbf5fae0;
    height: 400px;
}
.tables3{
    padding-top: 10px;
    padding-bottom: 10px;

}

.start3{
    padding-top: 20px;
    font-size: 1.34rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

}
.end3{
    font-size: 0.9rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;

}
.frame2{
        border: 2px solid transparent;
        background-image:url(https://media.istockphoto.com/id/873899208/photo/cosmetic-bottle-containers-with-green-herbal-leaves-blank-label-for-branding-mock-up-natural.jpg?s=612x612&w=0&k=20&c=foTyhQNsn9xY4Lt0-Cq-f1MPD9Oqk8tBUD2qXcf0qiQ=);
        background-size: cover ;
        background-repeat: no-repeat;
        height: 300px;
        width: 280px;
        margin-left: 48px;

}
.frame2:hover{
    cursor: pointer;
    scale: 1.05;
}

/*box4 content*/

.box4content{
    background-color: #dbf5fae0;
    height: 400px;
}
.tables4{
    padding-top: 10px;
    padding-bottom: 10px;

}

.start4{
    padding-top: 20px;
    font-size: 1.34rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

}
.end4{
    font-size: 0.9rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;

}
.frame3{
        border: 2px solid transparent;
        background-image:url(https://m.media-amazon.com/images/I/71ShBw4g6GL._UX679_.jpg);
        background-size: cover ;
        background-repeat: no-repeat;
        height: 300px;
        width: 280px;
        margin-left: 48px;

}
.frame3:hover{
    cursor: pointer;
    scale: 1.05;
}

/*box5 content*/

.box5content{
    background-color: #dbf5fae0;
    height: 400px;
}
.tables5{
    padding-top: 10px;
    padding-bottom: 10px;

}

.start5{
    padding-top: 20px;
    font-size: 1.34rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

}
.end5{
    font-size: 0.9rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;

}
.frame4{
        border: 2px solid transparent;
        background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/AmazonExports/Fuji/2021/September/DashboardCards/Fuji_Dash_Fitness_1X._SY304_CB639748186_.jpg);
        background-size: cover ;
        background-repeat: no-repeat;
        height: 300px;
        width: 280px;
        margin-left: 48px;

}
.frame4:hover{
    cursor: pointer;
    scale: 1.05;
}

/*box6 content*/

.box6content{
    background-color: #dbf5fae0;
    height: 400px;
}
.tables6{
    padding-top: 10px;
    padding-bottom: 10px;

}

.start6{
    padding-top: 20px;
    font-size: 1.34rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

}
.end6{
    font-size: 0.9rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;

}
.frame5{
        border: 2px solid transparent;
        background-image:url(https://m.media-amazon.com/images/I/61RaQPpB9IL._UY575_.jpg);
        background-size: cover ;
        background-repeat: no-repeat;
        height: 300px;
        width: 280px;
        margin-left: 48px;

}
.frame5:hover{
    cursor: pointer;
    scale: 1.05;
}
/*end and start properties*/
.end:hover{
    cursor: pointer;
    color: rgb(40, 128, 222) ;
}

.start{
    padding-top: 5px;
}

/*Content*/

.content{
    height: 240px;
    background-color: #dbf5fae0 ;
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 20px;
    padding: 20px 8px;
    border: 2px solid transparent;
    
}
.main{
    height: 220px;
    border: 2px solid transparent;
    background-color: rgb(253, 253, 253);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main:hover{
   scale: 0.98;
   transition-duration: 1.28s;
   background-color: rgb(11, 76, 138);
}
.mains{
    display: flex;
    justify-content: space-evenly;
    border: 2px solid transparent;
    opacity: 85%;
    background-repeat: no-repeat;
    background-size: cover;
  
}
.mains:hover{
    scale: 1.06;
       
}
.extra{
    display: flex;
    align-items: center;
}

.start7{
    display: flex;
}
.end7{
    margin-top: 4px;
    margin-left: 20px;
}

.main1{
    background-image: url(https://m.media-amazon.com/images/I/61y2VVWcGBL._AC_SY200_.jpg);
    height: 200px;
    width: 180px;   
}
.main2{
    background-image: url(https://m.media-amazon.com/images/I/61BY9Mhhj2L._AC_SY200_.jpg);
    height: 200px;
    width: 144px;
}
.main3{
    background-image: url(https://m.media-amazon.com/images/I/61yhPPcmesL._AC_SY200_.jpg);
    height: 200px;
    width: 182px;
}
.main4{
    background-image: url(https://m.media-amazon.com/images/I/61AHiYyu3ZL._AC_SY200_.jpg);
    height: 200px;
    width: 142px;
}
.main5{
    background-image: url(https://m.media-amazon.com/images/I/61XagxJAEIL._AC_SY200_.jpg);
    height: 200px;
    width: 149px;
}
.main6{
    background-image: url(https://m.media-amazon.com/images/I/61SSVxTSs3L._AC_SY200_.jpg);
    height: 200px;
    width: 162px;
}
.main7{
    background-image: url(https://m.media-amazon.com/images/I/71MkKOPvq7L._AC_SY200_.jpg);
    height: 200px;
    width: 179px;
}
/*content*/
.content{
    height: 250px;
    background-color: #dbf5fae0 ;
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 20px;
    padding: 20px 8px;
    border: 2px solid transparent;
    
}
.main20{
    height: 230px;
    border: 2px solid transparent;
    background-color: rgb(253, 253, 253);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main20:hover{
   scale: 0.95;
   transition-duration: 1.28s;
   background-color: rgb(11, 76, 138);

}
.mains{
    display: flex;
    justify-content: space-evenly;
    border: 2px solid transparent;
    opacity: 85%;
    background-repeat: no-repeat;
    background-size: cover;
  
}
.mains:hover{
    scale: 1.06;
       
}
.extra{
    display: flex;
    align-items: center;
}

.start7{
    display: flex;
}
.end7{
    margin-top: 4px;
    margin-left: 20px;
}

.main11{
    background-image: url(https://m.media-amazon.com/images/I/51mXHW3eMwL._AC_SY200_.jpg);
    height: 200px;
    width: 160px;   
}
.main13{
    background-image: url(https://m.media-amazon.com/images/I/51PtGRMyIzL._AC_SY200_.jpg);
    height: 200px;
    width: 198px;
    
}
.main14{
    background-image: url(https://m.media-amazon.com/images/I/51pPavBJFKL._AC_SY200_.jpg);
    height: 176px;
    width: 270px;
    
}
.main15{
    background-image: url(https://m.media-amazon.com/images/I/51+6rgObpJL._AC_SY200_.jpg);
    height: 200px;
    width: 135px;
   
}
.main16{
    background-image: url(https://m.media-amazon.com/images/I/51J7S+y7AkL._AC_SY200_.jpg);
    height: 200px;
    width: 187px;
}
.main17{
    background-image: url(https://m.media-amazon.com/images/I/31BJjL58ohL._AC_SR320,320_.jpg);
    height: 160px;
    width: 160px;
   
}

/*Footer*/

.foot{
    height: 40px;
    background-color:rgba(162, 255, 227, 0.466) ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-decoration: none;
}
.foot:hover{
    background-color: rgba(97, 173, 150, 0.466);
}.foot:active{
    color: #2a1076;
}
.lastlong{
    height: 300px;
    background-color: rgba(29, 141, 158, 0.984);
    display: flex;

}
.lasting{
   color: rgb(2, 31, 31);
   width: 110%;
   display: flex;
   justify-content: center;
}
.lastagain{
    border: 2px solid transparent;
    display: flex;
    padding-top: 30px;
    
}
.para{
    margin-bottom:10px;
    font-weight: 700;
    font-size: 14px;
}
ul a{
    display: block;
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: 500;
}


/*lastlong2*/
.hr{
    color: black;
}
.lastlong2{
    border: 0.8px solid black;
    border-right: none;
    border-bottom: none;
    border-left: none;
    height: 80px;
    background-color: rgba(29, 141, 158, 0.984);
    display: flex;
    justify-content: center;
    align-items: center;
}
.navlogo2{
    border: 2px solid transparent;
    height: 60px;
    width: 150px;
        
}
.logo2{
    background-image: url(https://cdn.pixabay.com/photo/2021/08/10/16/02/amazon-6536326_1280.png);
    background-size: cover;
    height: 60px; 
}
.footnav{
    border: 2px solid transparent;
    height: 45px;
    width: 450px;
    font-size: 14px;
    font-weight:300 ;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: 100px;
    padding-bottom: 5px;
}
.para2 {
    border: 1.4px solid black;
    border-radius: 5px;
    margin-left: 10px;
    height:20px ;
    width: 93px;
    padding-top: 5px;
    padding-left: 10px;
}

.icons{
    padding-left: 20px;
    color: rgb(21, 10, 66);
    cursor: pointer;
}

/*footend*/

.footend{
    height: 45px;
    font-size: 12px;
    background-color: rgba(0, 50, 58, 0.984);
    color: rgb(255, 255, 255);
    display: block;
    justify-content :space-evenly;
    align-items: center;
    padding-top: 10px;
}
.footend1{
    display: flex;
    justify-content :center ;
    align-items: center;
    
}
.footend1 a{
    margin-left: 10px;
}
.footend2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.ic{
    font-size: 9px;
}








